.user-panel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background: url(../../resources/images/user_panel/user_panel_page.jpg) no-repeat fixed;
    background-size: cover;
    overflow: hidden;
    opacity: 0.9;
}

.user-panel-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
}

.user-panel-sidebar {
    width: 20%;
}

.user-panel-content {
    margin: 10% 4% 5% 5%;
    width: 70%;
    border: solid 3px #D3AC2B;
    border-radius: 4px;
    background: rgba(46, 54, 92, 0.6);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}